body, html {

  font-family: sans-serif;
  padding: 1em;
  color: #444;

  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #f8f8f8 100%);
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#f8f8f8 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%,#f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f8f8f8',GradientType=0 );

}

.hidden {
  display: none;
}

h1 {
  font-weight:    100;
  font-size:      180%;
  color:          #444;
  margin-bottom:  0;
}

h1 span.intix {
  font-size:    95%;
  font-weight:  bold;
  margin-right: .6em;
}

h1 img {
  width:  16px;
  height: 16px;
  margin-right: .1em;
}

h1 sup {
  position:   relative;
  font-size:  40%;
  top:       -.3em;
  left:       .1em;
}

h2.subtitle {
  font-size:      80%;
  font-weight:    100;
  letter-spacing: .08em;
  color:          #aaa;
  font-style:     italic;
  border-bottom:  1px solid #ccc;
  margin:         .5em 0 1em 0;
  padding:        0 0 2em 0;
}

label.input {
  font-weight:    bold;
}

input.expression {
  position:       relative;
  top:           -.15em;
  font-family:    sans-serif;
  font-size:      90%;
  width:          20em;
  border:         1px solid #ccc;
  border-radius:  .25em;
  padding:        .55em;
  margin:         1em .5em;
  transition:     .5s ease-in-out;
  outline:        none;
}

input.expression:focus {
  border-color: #83b4db;
  box-shadow:   0 0 5px #3b99fc;
}

input.expression.error {
  background:     #fee;
  color:          #f00;
  border-color:   #faa;
  animation: errorBlink .5s;
  animation-iteration-count: 1;
}

input.expression.error:focus {
  border-color: #faa;
  box-shadow:   #faa 0 0 5px;
}

@keyframes errorBlink {
  from {
    color:            #f33;
    background-color: #fee;
  }
  10% {
    background-color: #fdd;
  }
  to {
    background-color: #fee;
  }
}

div.container {
  border:         1px solid #ccc;
  background:     #fcfcfc;
  border-radius:  .25em;
  box-shadow:     0 0 5px rgba(0,0,0,.2);
  padding:        1em;
  margin:         .75em 0;
}
